form {
  width: 90%;
  max-width: 40rem;
  margin: 2rem;
}

label,
input {
  display: block;
}

label {
  font-weight: bold;
}
input {
  width: 100%;
}

button {
  background-color: purple;
  color: white;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 1px solid purple;
}
